<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><center>Edit Profile</center></h1>
      <form id = "edit form" action = "/editprofile" method = "post">
        <div class="mb-3" id = "name">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name = "name" id="name" placeholder = "Edit Name">
        </div>
  
        <div class="mb-3" id = "profile_picture">
          <label for="profile_picture" class="form-label">Profile Picture</label>
          <input type="url" class="form-control" id= "image_url" name = "image_url" placeholder="Enter picture url">
        </div>
  
        <div class="submit">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel Changes</button>
            <button type="submit"  class="btn btn-primary" id = "submit-button" >Save</button>
        </div>
        <hr>
    </form>
    </div>
  </main> 
  
  <%- include ('../partials/footer') %>


<%- include ('../partials/footer') %>