<!-- 
    1. List of friends.
    2. Links to their profiles.
    3. What they are listening to right now. 
    4. Search for profiless
    5. Add friends. 
    6. Listen with them. 
-->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<head>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <style>   
  html,
body,
.view {
  height: 100%;
}

#mobile-box {
  width: 360px;
}

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 a {
  color: #0d47a1;
}

.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}
</style>

<body>
  <h1>Friends</h1>

<!-- Search for friends to Add-->
<div class="search-bar">
  <form action= "/search">
      <input type="text" placeholder="Search Username" name="search" >
      <button type="submit">Submit</button>
  </form>
</div>

<!--List of Current Friends-->
<div class = "home_column_small">
  Friends
  <% friends.forEach(friend => { %>
    <div class = "row" style="background-color:rgb(30,30,30)">
      <p class = "friendName"> <%=friend.display_name%></p>
      <p class = "friendName"> <%=friend.profile_picture%></p>
    </div>
  <% }) %>
</div>

<!-- Music from friends  -->
<div class="container d-flex justify-content-center my-4 mb-5">
  <% if (songs == undefined) { %>
    <p>Find Friends!</p>
  <% } else { %> 
    <% songs.forEach(song => { %>
    <div id="mobile-box">
  
      <!-- Card -->
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src = "<%= song.images && song.images.length ? song.images[0].url : '/blank.jpg' %>" class = "card-img-top"> 
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body text-center">
  
          <h5 class="h5 font-weight-bold"><a href="#" target="_blank"><%= song.display_name %></a></h5>
          <p class="mb-0"><%= song.email %></p>
          <audio id="music" preload="true">
            <source src="#">
          </audio>
          <div id="audioplayer">
            <i id="pButton" class="fas fa-play"></i>
            <div id="timeline">
              <div id="playhead"></div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- Card -->
    </div>
    <% })} %>
  </div>
  <!-- Adding Friend Functionality -->
  <div class = "add Friend">
    <p class = "friendName"> <%=friend.display_name%></p>
    <p class = "friendName"> <%=friend.profile_picture%></p>
    <form action = '/addfriend'>
      <button type="submit">Add Friend</button>
    </form>
  </div>
</body>
  