<!-- 
    1. List of friends.
    2. Links to their profiles.
    3. What they are listening to right now. 
    4. Search for profiless
    5. Add friends. 
    6. Listen with them. 
-->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<head>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <style>   
  html,
body,
.view {
  height: 100%;
}

#mobile-box {
  width: 360px;
}

.card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card .view {
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 a {
  color: #0d47a1;
}

.card h5 a:hover {
  color: #072f6b;
}

#pButton {
  float: left;
}

#timeline {
  width: 90%;
  height: 2px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
}

#pButton {
  margin-top: 12px;
  cursor: pointer;
}

#playhead {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -3px;
  background: black;
  cursor: pointer;
}
</style>

<body>
  <h1>Friends</h1>

<!-- Search for friends to Add-->
<div class="search-bar">
  <form action= "/search">
      <input type="text" placeholder="Search Username" name="search" >
      <button type="submit">Submit</button>
  </form>
</div>

<!--List of Current Friends-->

    <div class = "row">
      <div class = "home_column_small">
        <center>Friends</center>
        <% friends.forEach(friend => { %>
          <div class = "row" style="background-color:rgb(30,30,30)">
            <div class = "home_friends_image">
              <img src = <%=friend.display_image%> width = "50px">
            </div>

            <div class = "home_friends_info">
              <p style = "inline-size:1000px"> <%=friend.name%></p>
              <p><%=friend.username%></p>
            </div>
          </div>
        <% }) %>
      </div>

      <!--List of Artists to follow-->
      <div class = "home_column_small">
        <center>Artists</center>
        <form method = 'get' action = '/addfriend'>
          <% users.forEach(user => { %>
            <% if(!user.non_artist) {%>
              <div class = "row" style="background-color:rgb(30,30,30)">
                <div class = "home_artists_image">
                  <img src = <%=user.display_image%> width = "50px">
                </div>

                <div class = "home_artist_info">
                  <p style = "inline-size:1000px"> <%=user.name%></p>
                  <p><%=user.username%></p>
                </div>
                <button type="submit" class="btn-close" data-bs-dismiss="follow" name = 'follow' >Follow</button>
              </div>
            
          <% } %>
          <% }) %>
        
        </form>
      </div>    
    </div>
</body>