<!-- 
    1. List of friends.
    2. Links to their profiles.
    3. What they are listening to right now. 
    4. Search for profiless
    5. Add friends. 
    6. Listen with them. 
-->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body>
  <h1>Friends</h1>

<!-- Search for friends to Add-->
<div class="search-bar">
  <form action= "/search">
      <input type="text" placeholder="Search Username" name="search" >
      <button type="submit">Submit</button>
  </form>
</div>

<!--List of Current Friends-->

    <div class = "row">
      <div class = "home_column_small">
        <h4>Friends</h4>
          <% friends.forEach(friend => { %>
            <div class = "row" style="background-color:rgb(30,30,30)">
              <div class = "home_friends_image">
                <img src = <%=friend.display_image%> width = "50px">
              </div>

              <div class = "home_friends_info">
                <p class = "friendName" style = "inline-size:1000px"> <%=friend.name%></p>
                <p class = "friendUsername"><%=friend.username%></p>
              </div>
            </div>
        <% }) %>
      </div>

      <div class = "home_column_big">
        <div class = "home_title">
          <h4>Home</h4>
      </div>
      
      <!--List of Artists to follow-->
      <div class = "home_column_small">
        <h4><center>Artists</center></h4>
        <form method = 'get' action = '/addfriend'>
          <% users.forEach(user => { %>
            <% if(user.artist) {%>
              <div class = "row" style="background-color:rgb(30,30,30)">
                <div class = "home_artists_image">
                  <img src = <%=user.display_image%> width = "50px">
                </div>

                <div class = "home_artist_info">
                  <p class = "artistName" style = "overflow:hidden; height:25px;"> <%=user.name%></p>
                </div>
                <div>
                  <button type="submit" class = "follow_button" data-bs-dismiss="follow" name = 'follow' ><span style = "color: white">Follow</span></button>
                </div>
              </div>
            
          <% } %>
          <% }) %>
        
        </form>
      </div>    
    </div>
</body>