<!-- This is the home page
    1. Rankings
    2. Current events
    3. General social media style feed where people that you follow show up in your feed?
 -->

<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<script>
  $(function () {
    $(document).one("click", ".like-review", function (e) {
      $(this).html(
        '<i class="fa fa-heart" aria-hidden="true" style = "color:pink;"></i> '
      );
    });
  });
</script>

<body>
  <div class = "home_div">
    <div class = "row">
      <div class = "home_column_small">
        <h4>Trending Now</h4>
          <% results.forEach(result => { %>
            <div class = "row" style="background-color:rgb(30,30,30)">
              <div class = "home_trendingNow_image">
                <img src = <%=result.track.album.images[0].url %> width="50px">
              </div>
              <div class = "home_trendingNow_text">
                <p class = "home_trendingNow_song" style = "inline-size:1000px"><%= result.track.name %></p>
                <p class = "home_trendingNow_artist"><%= result.track.artists[0].name %></p> 
              </div>
            </div>
          <% }) %> 
          <br><br>
          <h4>Friends</h4>
          <% friends.forEach(friend => { %>
            <div class = "row" style="background-color:rgb(30,30,30)">
              <div class = "home_trendingNow_image">
                <img src = <%=friend.display_image%> width = "50px">
              </div>

              <div class = "home_trendingNow_text">
                <p class = "home_trendingNow_song" style = "inline-size:1000px"> <%=friend.name%></p>
                <p class = "home_trendingNow_artist"><%=friend.username%></p>
              </div>
            </div>
        <% }) %>
      </div>
      
      <div class = "home_column_big">
        <div class = "home_title">
          <h4>Home</h4>
        </div>
        <% posts.forEach(post => { %>
          <div class = "row">
            <div class = "home_posts">
              <div id="embed-iframe"></div>
              <p class = "home_post_username">
                <%= post.username %> <%= post.user_action %>
              </p>
              <div class = "home_posts_songImage">
                <img src = <%=post.song_image %> width="250px">
                <div class = "home_post_songName"><%=post.song_name%></div>
                <div class = "home_post_songArtist"><%=post.song_artist%></div>
              </div>
              <div class = "home_post_userComment">
                <p>"<%=post.user_comment %>"</p>
              </div>
              <div class = "like-content">
                <button class="btn-secondary like-review">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        <% }) %>
        
      </div>
      <div class = "home_column_small" style = "overflow-y: 10px;">
        <h4>New Music</h4>
        <% newsongs.forEach(result => { %>
          <div class = "row" style="background-color:rgb(30,30,30);">
            <div class = "home_trendingNow_image">
              <img src = <%=result.track.album.images[0].url %> width="50px">
            </div>
            <div class = "home_trendingNow_text">
              <p class = "home_trendingNow_song" style = "overflow: hidden; height:25px;"><%= result.track.name %></p>
              <p class = "home_trendingNow_artist"><%= result.track.artists[0].name %></p> 
            </div>
          </div>

        <% }) %> 
        <br><br>
        <h4>Artists</h4>

        <% users.forEach(user => { %>
          <% if(user.artist) {%>
            <form method = 'post' action = '/addfriend'>
              
            <div class = "row" style="background-color:rgb(30,30,30)">
              <div class = "home_trendingNow_image">
                <img src = <%=user.display_image%> width = "50px">
              </div>   
              <div class = "home_trendingNow_text">
                <p class = "artist_name" style = "overflow:hidden; height:25px;"> <%=user.name%></p>
                <div class = "row" style = "background-color: rgb(30,30,30);">
                  <div class = "home_follow_name">
                    <p class = "home_trendingNow_artist"><%=user.username%></p>
                  </div>
                  <input type = "hidden" name = "u" value = "<%=user.username%>" />
                  <input type = "hidden" name = "i" value = "<%=user.display_image%>" />
                  <input type = "hidden" name = "n" value = "<%=user.name%>" />
                  <div class = "home_followButton">
                    <button type="submit" class = "follow_button" onclick="this.style.display='none'"  name = 'follow' >Follow</button>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <% } %>
          <% }) %>
      </div>
    </div> 
  </div>
</body>

<%- include ('../partials/footer') %>
