<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <table class="table">
            <tr>
                <th>Welcome, <%= user.username %> </th>
                <th>Favorite Snippets</th>
                <th>Top Tracks</th>
            </tr>
            <tr>
                <td>
                <img src="https://www.business2community.com/wp-content/uploads/2019/03/best-practices-stock-photos.jpg" alt="This is the profile image." width="200 px">
                </td>
                <td><audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                </td>
                <td>
                    <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                      <audio controls>
                        <source src="sample-3s.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio> <br>
                </td>
            </tr>
    </table>
    </div>
    <div class="container">
      <p>user can add a bio here. </p>
    </div>
    


</main>


<%- include ('../partials/footer') %>